{% extends 'kontakty/base.html' %}
{% load static %}
{% block my_content %}

    <main id="main_container">
        <br>
        <br>
        <center>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                Telefon: <input input type="text" name="telefon"><br>
                <table style="margin-bottom:6px"></table>
                Email: <input input type="email" name="email"><br><br>
                <center><button type="submit" class="btn btn_border_white btn_rounded btn_md">Dodaj</button></center>
            </form>
        </center>
    </main>
{%endblock%}