* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/ricepaper.png);
    margin: 0;
    font-family: 'Comic Sans', cursive;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    background-position: center;
}

.btn {
    background: silver;
    color: black;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
}

.btn_rounded {
    border-radius: 1000px;
}

.btn_white {
    background: #e8e8e8;
    color: #2b2b2b;
}

.btn_md {
    font-size: 15px;
    padding: 10px 12px;
}

.btn_lg {
    font-size: 15px;
    padding: 15px 20px;
}

.btn_border_white {
    background: none;
    border: 2px solid black;
    color: #000000;
    transition: all .3s;
}

    .btn_border_white:hover,
    .btn_border_white:focus {
        background: #e8e8e8;
        color: #2b2b2b;
        border: 2px solid white;
    }

#main_menu {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    width: 100%;
    display: none;
}

    #main_menu li {
        flex-grow: 1;
    }

        #main_menu li a {
            display: block;
            width: 100%;
            font-size: inherit;
            padding: 15px;
            color: #e4f7d7;
        }

#main_logo, #mobile_menu_button {
    font-weight: bold;
    text-decoration: none;
    color: #e4f7d7;
}

#main_logo {
    transition: all .3s;
    background-image: url(../images/logo.png);
    width: 250px;
    height: 26px;
}

    #main_logo:hover {
        transform: scale(1.2);
    }

#main_nav_wrapper {
    background-color: rgba(75, 68, 104, 0.95);
    position: fixed;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    z-index: 3;
}

#main_nav {
    color: #e4f7d7;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    #main_nav button {
        font-size: inherit;
        background: none;
        border: none;
        color: #e4f7d7
    }
    #main_nav #main_menu a,
    #main_nav #main_menu button {
        transition: all .3s;
    }

        #main_nav #main_menu a:hover,
        #main_nav #main_menu a:focus,
        #main_nav #main_menu button:hover,
        #main_nav #main_menu button:focus {
            background: #e4f7d7;
            color: rgb(75, 68, 104);
        }

    #main_nav .fa-search:hover,
    #main_nav .fa-search:focus {
        transition: all .5s;
        transform: scale(1.2);
    }

#main_header {
    color: #e4f7d7;
    text-align: center;
    background-image: url(../images/background1.png);
    background-size: cover;
    background-position: center;
    padding: 120px 20px 80px 20px;
}

    #main_header h1 {
        margin: 0 0 20px 0;
    }

#home #main_container {
    margin-bottom: 20px;
}

#home #kontakty .person {
    text-align: center;
}

#home #kontakty .person_1 {
    text-align: center;
}

#home #kontakty .person .fa-stack {
    transition: all .3s;
}

#home #kontakty .person_1 .fa-stack {
    transition: all .3s;
}

#home #kontakty .person .fa-stack:hover,
#home #kontakty .person .fa-stack:focus {
    transform: scale(1.1);
}

#home #kontakty .person_1 .fa-stack:hover,
#home #kontakty .person_1 .fa-stack:focus {
    transform: scale(1.1);

}

#home #kontakty {
    padding: 10px;

}
@media (min-width: 640px) {
    #home h3 {
        margin: 0 100px 0 100px;
    }
}
    #home p {
        margin: 5px 0 5px 0;
    }

    #meetings #main_container {
        padding: 10px 0 0 0;
    }

        #meetings #main_container h2 {
            margin: 20px 0 0 20px;
        }

        #meetings #main_container p {
            margin: 0 0 20px 20px;
        }

        #meetings #main_container .sep {
            background-color: rgba(75, 68, 104, 0.75);
            width: 70%;
            height: 5px;
            margin: 0 auto;
        }


}

@media (min-width: 640px) {

    #home #kontakty {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

        #home #kontakty .person {
            width: 50%;
            padding: 10px;
        }

        #home #kontakty .person_1 {
            width: 50%;
            padding: 10px;
        }
}

@media (min-width: 840px) {

    #main_nav #mobile_menu_button {
        display: none;
    }

    #main_nav #main_menu {
        display: flex;
        width: auto;
        margin: 0;
    }

    #main_nav {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #main_menu {
        margin: 0;
    }

        #main_menu li {
            margin-right: 10px;
        }

            #main_menu li a:hover {
                text-decoration: underline;
            }

    #main_header {
        font-size: 50px;
        padding: 150px 20px;
    }

    #main_container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #home #kontakty {
        display: flex;
        flex-wrap: wrap;
    }

        #home #kontakty .person_1 {
            width: 50%;
        }

        #home #kontakty .person {
            width: 25%;
        }
}
